# Игнорировать папки и файлы Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Игнорировать временные файлы
*.log
*.tmp

# Игнорировать данные игроков (если не храним в репозитории)
data/accounts/

# Игнорировать файлы PyInstaller
dist/
build/
*.spec

# Игнорировать настройки IDE (если используете VS Code, PyCharm)
.vscode/
.idea/
